html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #333333;
    color: #e2e2e2;
}

/*============================================================================*/

#content-wrapper {
    width: 1220px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

/*============================================================================*/

header h1 {
    display: inline-block;
    margin-right: 20px;
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    list-style-type: none;
    font-size: 1.125em;
    font-weight: bold;
}

/*============================================================================*/

#content {
    width: 1220px;
    min-height: 100%;
    max-height: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    background-color: #111111;
    border: 5px solid #222222;
    border-bottom: none;
}

/*============================================================================*/

h1 {
    font-size: 3em; /* 16px * 3 = 48px = 300% */
    line-height: 60px;
    margin: 10px 0px;
    padding: 0px;
}

h2 {
    font-size: 2.5em; /* 16px * 2.5 = 40px = 250% */
    line-height: 50px;
    margin: 10px 0px;
    padding: 0px;
}

h3 {
    font-size: 2em; /* 16px * 2 = 32px = 200% */
    line-height: 40px;
    margin: 10px 0px;
    padding: 0px;
}

h4 {
    font-size: 1.5em; /* 16px * 1.5 = 24px = 150% */
    line-height: 32px;
    margin: 10px 0px;
    padding: 0px;
}

h5 {
    font-size: 1.25em; /* 16px * 1.25 = 20px = 125% */
    line-height: 24px;
    margin: 10px 0px;
    padding: 0px;
}

h6 {
    font-size: 1.125em; /* 16px * 1.125 = 18px = 112.5% */
    line-height: 20px;
    margin: 10px 0px;
    padding: 0px;
}

p {
    margin: 10px 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.lists {
    width: 1170px;
    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px 10px;
    padding-bottom: 10px;

    background-color: #111111;
}

.left {
    float: left;
}
.right {
    float: right;
}

.links a {
    display: block;
}
